* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button {
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  background-color: #447ab3;
  color: white;
}
